.searchform {
    display: flex;
    flex-direction: row;
    align-items: left;
    /* justify-content: center; */
    gap: 24px;
}
    .searchform input[type="text"] {
        width: 270px;
        height: 40px;
        background-color: var(--color-search);
        color: var(--color-text-search); /* set text color */
        font-size: 16px;

        border: none;
        border-radius: 30px;
        padding: 8px 16px;
        outline: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        /* margin-left: 10px; */

        transition: width 0.5s, background-color 0.5s;
        /* border: 1px solid #000; */
    }

    .searchform input[type="text"]:hover {
        width: 290px; /* set expanded width */
        caret-color: var(--color-text-search); /* the colour of the blinker*/
        color: var(--color-text-search); /* set text color */
    }
        .searchform input[type="text"]:focus {
            width: 310px; /* set expanded width */
            caret-color: var(--color-text-search); /* the colour of the blinker*/
            color: var(--color-text-search); /* set text color */

            padding: 8px 16px;
        }

        .searchform select { /* what visually appears before clicking the dropdown */
            height: 54px;
            width: 290px;

            background-color: var(--color-search);
            color: var(--color-text-search); /* set text color */
            font-size: 16px;
            font-family: 'Poppins';
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


            padding: 8px 16px;
            margin-left: 20px;
            border: none;
            border-radius: 30px;

            transition: width 0.5s, background-color 0.5s;
        }

        .searchform select:focus { /* what visually appears after clicking the dropdown */
            height: 54px;
            width: 290px;

            background-color: var(--color-search);
            color: var(--color-text-search); /* set text color */
            font-size: 16px;
            font-family: 'Poppins';

            padding: 8px 16px;
            margin-left: 20px;
            border: none;
            border-radius: 30px;
            }

        .searchform select:hover {
            width: 290px;
        }

        .searchform select option { /* what visually appears inside the dropdown (select is changed also) */
            background-color: white;
            color: var(--color-text-search); /* set text color */
            font-size: 16px;
            padding: 8px 16px;
        }
