.actionSection {
    width: 100%;
    height: 100%;
	/* background: var(--color-background); */
    background: transparent;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;

    z-index: 0; /* to make sure it's on the bottom of everything else */
    
    /* border: 1px solid cyan; */
}
    .actionCentre {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        
        /* border: 1px solid gray; */
    }
        .actionCol1 {
        margin-right: 20px; /* Add some space between columns */
        /* border: 1px solid gray; */
        }
        .actionCol2 {
        margin-left: 20px; /* Add some space between columns */
        width: 100%;
        height: 100%;
        /* border: 1px solid gray; */
        }